*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: cute;
    src: url(fonts/Hug\ Me\ Tight\ -\ OTF.otf);
}
@font-face {
    font-family: cute2;
    src: url(fonts/Pineapple\ Grass.ttf);
}

@font-face {
    font-family: cute3;
    src: url(fonts/KGHAPPY.ttf);
}

.navbar{
    padding: 15px;
    background-color: rgb(255, 241, 244);
    border-bottom: 1px solid rgb(189, 119, 132);
    text-align: right;
    overflow: hidden;
}

#logo, #links{
    display: inline;
}

#links a{
    color: rgb(139, 118, 118);
    text-decoration: none;
    font-family: cute;
    opacity: .55;
    transition: .4s;
    padding-right: 10px;
}
#links a:hover{opacity: 1; transition: .4s;}

#logo img{
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid rgb(189, 119, 132);
    border-radius: 100px;
    margin-left: 20px;
}

.header{
    background-image: url(images/header2.jpg);
    height: 500px;
    font-family: cute2;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.header h1{
    display: inline;
    font-size: 5vw;
    padding: 10px;
    color: rgb(94, 6, 21);
    bottom: 65%;
    left: 11%;
    position: absolute;
}


.header p{
    padding: 10px;
    color: rgb(187, 145, 141);
    bottom: 60%;
    left: 11.7%;
    position: absolute;
    background-color: white;
    border: 2px solid rgb(168, 69, 86);
    border-radius: 8px;
}

.header a{
    padding: 15px;
    text-decoration: none;
    color: rgb(122, 80, 88); 
    border: 1px solid rgb(139, 97, 97);
    background-color: rgb(252, 221, 227);
    font-family: cute;
    position: absolute;
    bottom: 48%;
    left: 11.8%;
}

.footer{
    background-color: rgb(255, 241, 244);
    color: rgb(122, 80, 88);
    height: 73px;
    position: relative;
    font-family: cute;
    border-top: 1px solid rgb(189, 119, 132);
}

.footer p{
    position: absolute;
    margin-left: 74%;
    margin-top: 13px;
}

#flinks img{
    position: relative;
    float: left;
    margin-top: 8px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
}



.header2{
    background-color: rgb(247, 209, 216);
    height: 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#title h2{
    font-family: cute;
    color: rgb(138, 70, 70);
    position: absolute;
    text-align: left;
    margin-top: 15px;
    margin-left: 45px;
}

.images1 img{
    width: 180px;
    height: 180px;
    margin-top: 60px;
    margin-right: 20px;
}

.images2 img{
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-right: 20px;
}

.desc p{
    display: inline;
    position: relative;
    font-family: cute;
    color: rgb(122, 80, 88);
}

#p1{
    position: absolute;
    top: 35px;
    right: 61.5%;
}
#p2{
    position: absolute;
    top: 35px;
    right: 45%;
}
#p3{
    position: absolute;
    top: 35px;
    right: 27.8%;
}
#p4{
    position: absolute;
    top: 49%;
    right: 60.8%;
}
#p5{
    position: absolute;
    top: 49%;
    right: 46.3%;
}
#p6{
    position: absolute;
    top: 49%;
    right: 27.6%;
}